<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show </title>
</head>
<body>
    <a href="/">Home</a>
    <h1>User {{user.id}}</h1>
    <h1>Full Name {{user.first_name}} {{user.last_name}}</h1>
    <h1>Email {{user.email}}</h1>
    <h1>Created on {{user.created_at}}</h1>
    <h1>Last Updated On: {{user.updated_at}}</h1>

    <a href="/edit/{{user.id}}">Edit</a>
    <a href="/delete/{{user.id}}">Delete</a>
</body>
</html>